@import "../../../layout-l.scss";

.centered-content{
    width: 550px;
}
.title{
    font-size: 23px;
}
.signup-box{
    padding: 23px 50px 15px 50px;
    background: white;
    border-radius: 3px;
}

