<div class="centered-content">
  <div class="login-box">
    <h3>Login </h3>

    <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input is-small" [(ngModel)]="obj.username" type="text" placeholder="Username">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
          <input class="input is-small" [(ngModel)]="obj.password" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
    </div>
    <div class="field is-pulled-right">
        <div class="buttons is-right">

          <button class="button is-primary" [routerLink]="['/U/s_up']">Sign In</button>
          <button class="button is-primary" (click)="onLoginButtonClick()">Login</button>
        </div>
    </div>
    <a target="_blank" href="http://localhost:8000/password_reset/">if you forget passwrd </a>
  </div>
</div>